<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="public/heading/assets/css/header.css">
    <link rel="stylesheet" href="public/carrinho/assets/css/carrinho.css">
    <link rel="stylesheet" href="public/carrinho/assets/css/carrinhoThirdScreen.css">
    <link rel="stylesheet" href="public/footer/assets/css/footer.css">
    <link rel="stylesheet" href="public/errorHandler.css">

    <script src="public/jquery-3.7.1.min.js"></script>

</head>

<body>

    {% include 'src/heading/header.html' %}
    {% include 'src/carrinho/carrinho.twig' with {'cartItems': cartItems, 'total': total, 'totalItems': totalItems} %}
    {% include 'src/footer/footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="public/heading/assets/js/header.js"></script>
    <script src="public/carrinho/assets/js/carrinho.js"></script>
    <script src="public/carrinho/assets/js/formEvent.js"></script>
    <script src="public/errorHandler.js"></script>
</body>

</html>