<header>
    <nav class="navbar">
        <div class="box-navbar">
            <div class="box-soon">
                <a href="/">
                    <h1>Sena MakeUP</h1>
                </a>
            </div>

            <div id="boxSearch" class="box-search">
                <form action="">
                    <div class="box-input">
                        <input id="inputSearch" type="text" class="input-search">
                        <i class="bi bi-search" id="iconSearch"></i>
                    </div>
                </form>
            </div>

            <div class="box-button-menu">
                <button id="buttonMenu"><i id="iconMenu" class="bi bi-list"></i></button>
            </div>
        </div>

        <div id="boxList" class="box-list">
            <ul>
                <li class="item-list">
                    <a href="">
                        <img src="public/heading/img/Desktop/atendimento.png" alt="">
                        <span class="ms-1">Atendimento</span>
                    </a>
                </li>
                <li class="item-list">
                    <a href="/cadastro">
                        <img src="public/heading/img/Desktop/conta.png" alt="">
                        <span class="ms-1">Minha Conta</span>
                    </a>
                </li>
                <li class="item-list">
                    <a href="">
                        <img src="public/heading/img/Desktop/Coração.png" alt="">
                        <span class="ms-1">Favoritos</span>
                    </a>
                </li>
                <li class="item-list">
                    <a href="/sacola">
                        <img src="public/heading/img/Desktop/icons8-vilta-frontal-da-bolsa-50.png"
                            alt="">
                        <span class="ms-1">Sacola</span>

                    </a>
                    <div id="box-item-bag" class="item-bag">
                        <span id="item-bag">0</span>
                    </div>
                </li>

            </ul>
        </div>

    </nav>
    <div class="pages">
        <ul>
            <li>Promoções</li>
            <li>Marcas</li>
            <li>Mais Vendidos</li>
            <li>Skincare</li>
            <li>Base</li>
            <li>Gloss</li>
            <li>Delineadores</li>
            <li>Contornos</li>
            <li>Outras Categorias</li>
        </ul>
    </div>
</header>